<!DOCTYPE html>
<html>
  <head>
    <title>Laudable</title>
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
          "city": "<%= current_user.city %>",
          "state": "<%= current_user.state %>",
          "reviewedBookIds": <%= current_user.reviewed_book_ids %>,
          "libraryBooks": <%= current_user.library_books.collect(&:book_id) %>,
          "wishlistBooks": "<%= render current_user.wishlist_books %>",
          "shoppingCartBooks": "<%= render current_user.shopping_carts.last.shopping_cart_books %>",
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
